html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

header {
  height: 750px;
  background: url('https://i.pinimg.com/originals/9e/2a/45/9e2a45f652f9951234733b7206a88810.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.collapse .navbar-nav a:hover {
  background-color: red;
  transition: 2s;
  border: 2px solid #fff;

}



/*NAVBAR*/
@media screen and (min-width: 1100px) {
  .collapse .navbar-nav {
    position: absolute;
    right: 9%;
    font-size: 20px;
    color: #fff;
    top: 3%;

  }

  .navbar {
    border: 2px solid #fff;
    padding: 30px;
    background-attachment: fixed;
  }

  .navbar-brand {
    position: absolute;
    left: 10%;
  }

  .pat_prin {
    margin-left: 490px;
  }

  #pat {
    margin-left: 480px;
    margin-top: 80px;

  }

}

.collapse .navbar-nav a {}



.brand h1 {
  font-family: 'Paprika', cursive;
  color: #fff;
  text-shadow: 2px 2px #290B41;

}

/*Speaker*/

.zoom img {
  transition: transform 0.5s;
}

.zoom img:hover {
  -ms-transform: scale(1.0);
  /* IE 9 */
  -webkit-transform: scale(1.0);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.btn-primary button {
  padding: 10px;
  border-radius: 15px;
}

/*Footer*/

footer {
  background-color: #000;
  height: auto;
  width: 100%;
}

footer .container .row .foot {
  margin-top: 30px;
}

footer .container .row .foot ul li {
  list-style-type: none;
  display: inline-block;
  padding: 4px;
}

footer .container .row .foot ul li img {
  height: 38px;
  width: 38px;
  letter-spacing: 4px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  border: 2px solid #fff;
}


footer .container .row .foot ul li img:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.navig ul li {
  color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  list-style-type: none;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/*TOPIC*/
.topics {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background: white;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #000;
  box-shadow: 5px 10px #000;
}

.marquee {
  top: 10em;
  position: relative;
  box-sizing: border-box;
  animation: marquee 17s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
  0% {
    top: 2em
  }

  100% {
    top: -20em
  }
}

/* Make it look pretty */
.topics .marquee {

  line-height: 1.5em;
  font: 1.5em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

.topics:before,
.topics::before,
.topics:after,
.topics::after {
  left: 0;
  z-index: 1;
  content: '';
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 2em;
  background-image: linear-gradient(180deg, #FFF, rgba(255, 255, 255, 0));
}

.topics:after,
.topics::after {
  bottom: 0;
  transform: rotate(180deg);
}

.topics:before,
.topics::before {
  top: 0;
}

#top-head li {
  list-style-type: none;
}

#top-head {
  line-height: 200%;
}

/*REGISTER*/
.Register {
  background-color: #404142;
  width: 100%;
  height: auto;
  color: #fff;
}

.reg-table {
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
}

.date-table {
  border: 2px solid #cdcdcd;
  text-align: center;
}

/*NAVBAR_FLOAT*/
.parent2 {
  top: 15px;
  left: 15px;
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  z-index: 20;

}

.test1 {
  width: 40%;
  height: 40%;
  background-color: dimGray;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 50px;
  top: 25%;
  left: 25%;
  z-index: 19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position: absolute;
}

.test1 {
  width: 40%;
  height: 40%;
  background-color: dimGray;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 50px;
  top: 25%;
  left: 25%;
  z-index: 19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position: absolute;
}

.test2 {
  width: 40%;
  height: 40%;
  background-color: dimGray;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 50px;
  top: 25%;
  left: 25%;
  z-index: 19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position: absolute;
}

.test3 {
  width: 40%;
  height: 40%;
  background-color: dimGray;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 50px;
  top: 25%;
  left: 25%;
  z-index: 19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position: absolute;
}

.test4 {
  width: 40%;
  height: 40%;
  background-color: dimGray;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 50px;
  top: 25%;
  left: 25%;
  z-index: 19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position: absolute;
}

.test5 {
  width: 40%;
  height: 40%;
  background-color: dimGray;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 50px;
  top: 25%;
  left: 25%;
  z-index: 19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position: absolute;
}

.test6 {
  width: 40%;
  height: 40%;
  background-color: dimGray;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 50px;
  top: 25%;
  left: 25%;
  z-index: 19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  position: absolute;
}

.mask2 {
  top: 35px;
  left: 35px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 21;
  color: white;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
  position: fixed;
}

/*COMMITEE*/
.committee {
  background-color: #404142;
  width: 100%;
  height: auto;
}

.committee-text {
  color: chartreuse;
  text-shadow: 2px 2px #000;
}

.committee .container ul li {
  color: #fff;
}

/*MEDIA QUERY*/

.abt {
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
}

.short-text {
  display: none;
}

@media (max-width: 1000px) {
  .short-text {
    display: inline-block;
  }

  .full-text {
    display: none;
  }
}

.topic_style {
  font-size: 21;
}